*{
    padding: 0%;
    margin: 0%;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
.sup{
    font-size: 13px;
    background-color: red;
    border-radius: 50%;
    padding: 4px;
    margin-right: 5px;
    margin-top: -15px;
}
.total{
    position: fixed;
    width: 100%;
    bottom: 0;
}
.card{
    min-height: 500px;
}